

:host{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	height: calc(100% - 20px);
	margin-top: 20px;
	overflow-y:scroll;
}

app-pie-chart{
	margin-top: 30px;
}

@media (min-width: 100vh) {
	app-pie-chart{
		height: 50vh;
	}
	.wrapper table{
		margin-left: 20px;
	 }

 }

 @media (min-height: 100vw) {
	app-pie-chart{
		width: 50vw;
		margin-bottom: 20px;
	}
	.wrapper{
		flex-direction: column;
	}
 }


 .wrapper{
	display:flex;
	align-items: center;
 }

 $base-color: #036;

 @for $i from 0 through 15 {
	 tbody tr:nth-child(#{$i}n) {
	   background-color: lighten($base-color, $i * 5%);
	   color: white ;
	   @if $i > 7 {
		 color: black ;;
	   }
	 }
 }


 tbody tr.selected{
	background-color: goldenrod;
}
table{
	cursor:default;
}



td, th{
	padding: 10px;
}

th{
	text-align: left;
	background-color: whitesmoke;
}