$base-color: #036;

@for $i from 0 through 15 {
	path:nth-child(#{$i}n) {
	  fill: lighten($base-color, $i * 5%);
	}
}
:host{
	display: block;
	height: 100%;
}
path.selected{
	fill: goldenrod;
}
svg, figure{
	height: 100%;
}

figcaption{
	width: 100%;
	text-align: center;
}