:host{
	display: flex;
	align-self: center;
}
.mat-select {
    outline: none;
    width: 3em;
    text-align: right;
}
.flex-center{
	display: flex;
	align-items: center;
}
.not-on-small-screens{
	display: none;
}
@media (min-width: 575px){
	.not-on-small-screens{
		display: inline;
	}
}