<button 
	mat-icon-button
	(click) = "router.navigate(['page', pageService.pageSize, 1])"
	[disabled] = "pageService.pageNumber === 1"
	matTooltip="Zur ersten Seite der Tabelle"
>
	<mat-icon>first_page</mat-icon>
</button>
<button 
	mat-icon-button
	(click) = "router.navigate(['page', pageService.pageSize, pageService.pageNumber - 1 ])"
	[disabled] = "pageService.pageNumber === 1"
	matTooltip="Eine Seite zurück">
	<mat-icon>chevron_left</mat-icon>
</button>

<div class = "flex-center"><span class="html-killed-my-whitespace-right">{{pageService.pageNumber}} </span> <span class="not-on-small-screens">von {{pageService.numberOfPages}}</span></div>	

<button 
	mat-icon-button
	(click) = "router.navigate(['page', pageService.pageSize, pageService.pageNumber + 1 ])"
	[disabled] = "pageService.pageNumber === pageService.numberOfPages"
	matTooltip="Eine Seite vor."
>
	<mat-icon>chevron_right</mat-icon>
</button>
<button 
	mat-icon-button
	(click) = "router.navigate(['page', pageService.pageSize, pageService.numberOfPages ])"
	[disabled] = "pageService.pageNumber === pageService.numberOfPages"
	matTooltip="Zur letzten Seite der Tabelle"
>
	<mat-icon>last_page</mat-icon>
</button>
<div class = "flex-center">
	<mat-select #select
		[value]="pageService.pageSize" 
		(selectionChange)= "router.navigate(['page', select.value, pageService.numberOfPages ])"
	>
		<mat-option 
			*ngFor="let number of pageService.standardPageSizes" 
			[value]="number">{{number}}</mat-option>
		<mat-option 
			*ngIf="!pageService.standardPageSizes.includes(pageService.pageSize)" 
			[value]="pageService.pageSize">{{pageService.pageSize}}
		</mat-option>
	</mat-select> 
	<span class="not-on-small-screens">Zeilen je Seite</span>
</div>