<mat-toolbar>
	<mat-toolbar-row>

		<button 
			*ngIf = "router.url.substring(1, 6) === 'chart'"
			mat-icon-button
			(click) = "router.navigate(['page', page.pageSize, page.pageNumber])"
			matTooltip="Zur Tabelle">
			<mat-icon>view_list</mat-icon>
		</button>
		<button 
			*ngIf = "router.url.substring(1, 5) === 'page'"
			mat-icon-button
			(click) = "router.navigate(['chart', data.table.columnNames[5]])"
			matTooltip="Zu den Tortendiagrammen">
		<mat-icon>pie_chart</mat-icon>
		</button>


		<button 
			mat-icon-button
			matTooltip="Lade die Tabelle als CSV-Datei auf dein Gerät"
			(click) = "toggleSecondRow()">
			<mat-icon>{{secondRowVisible ? 'cancel' : 'save_alt'}}</mat-icon>
		</button>

		<button 
			mat-icon-button
			(click) = "data.openFile()"
			matTooltip="Öffne eine lokale CSV-Datei">
		<mat-icon>open_in_browser</mat-icon>
		</button>


		<app-page-navigation 
			*ngIf="router.url.substring(1, 5) === 'page'"
			class="page-buttons-wrapper" >
		</app-page-navigation>	
	</mat-toolbar-row>

	<mat-toolbar-row *ngIf="secondRowVisible">
		<mat-form-field 
			id = "filename"
			appearance="outline">
			<mat-label>Dateiname</mat-label>
			<input #input 
				matInput 
				[value] = "data.filename">
		</mat-form-field>
		<button 
			(click) = "data.download(input.value)"
			mat-icon-button>
			<mat-icon>save_alt</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
