$base-color: #036;

table {
  cursor: default;
}

@for $i from 0 through 15 {
  tbody tr:nth-child(#{$i}n) {
    background-color: lighten($base-color, $i * 5%);
    color: white;

    @if $i>7 {
      color: black;
      ;
    }
  }
}

tbody tr.selected {
  background-color: goldenrod;
}

td,
th {
  padding: 10px;
}

th {
  text-align: left;
  background-color: whitesmoke;
}
